#request div {
    margin-bottom: 1em;
}

#request {
    margin-bottom: 2em;
}

.log {
    padding: 0.5em;
}

textarea, input {
    font-family: monospace;
}

.request, .info {
    margin-bottom: 1.5em;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.response {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6
}